<p>Hola:</p>
<p>Lamentablemente queremos informarle que su cuenta <strong>{{email}}</strong> a sido eliminada
   debido a su tiempo de inactividad.</p>
<p>Si esto no es así, puedes ignorar este
  correo electrónico.</p>
<p>Gracias.</p>
<p>El equipo de {{company}}</p>
<div>
  <h1>¡Ésto es un test!</h1>
  <img src={{img1}} style="width: 50px" />
</div>