<!DOCTYPE html>
<html>
<head>
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="login">
        <h1>Confirmar Contraseña</h1>
        <h3>Se solicitó un cambio de contraseña. Dicho cambio caducará en 5 minutos: </h3>
        <form id="formulario">
            <input
              type="password"
              name="password"
              id="pass1"
              placeholder="Nueva Contraseña"
              required="required"
            />
            <input
              type="password"
              name="pass2"
              id="pass2"
              placeholder="Repetir Contraseña"
              required="required"
            />
            <input type="hidden" id="urlToken" value={{urlToken}}>
            <button
              type="submit"
              class="btn btn-primary btn-block btn-large"
            >Confirmar</button>
        </form>
        <p id="mjs"></p>
    </div>

<script  type="module" src="/js/forgetPassword.js"></script>
</body>
</html>
